# Ignore all folders with a period in front
.*/
# Ignore the debug folder's files but keep the folder directories
BeanBattlesMapMaker/obj/Debug/*
BeanBattlesMapMaker/bin/Debug/*
!BeanBattlesMapMaker/bin/Debug/BBCM-mod.dll